*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: url(../imagens/2223886-quadro-negro-branco-ou-quadro-negro-com-borracha-e-giz-para-fundo-textura-preta-para-adicionar-texto-ou-design-grafico-grátis-foto.jpg);
    height: 100vh;
    background-size: cover;
    color: black;
    font-size: 15px;
    font-family: 'Dangrek', cursive;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    color: white;
}

.botão{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: -webkit-grabbing;
    margin: 3px;
    background-color: rgb(31,31,31);  
    border: none;
    border-radius: 20px;
    color: white;
}

.botão:hover{
    background-color: black;
}

#resultado{
    width: 212px;
    background-color: transparent;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 5px;
}

img{
    object-fit: cover;
}